{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "airbnb",
    "prettier/react"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true,
    "jquery": true,
    "jest": true
  },
  "rules": {
    "jsx-quotes": 0,
    "max-classes-per-file": 0,
    "object-curly-newline": 0,
    "object-curly-spacing": 0,
    "indent": 0,
    "semi": 0,
    "quotes": 0,
    "no-alert": 0,
    "no-console": 0,
    "no-debugger": 0,
    "no-await-in-loop": 0,
    "import/no-extraneous-dependencies": 0,
    "arrow-body-style": 0,
    "new-cap": 0,
    "camelcase": 0,
    "no-return-assign": ["error", "except-parens"],
    "no-unused-vars": 0,
    "prefer-const": 0,
    "no-restricted-syntax": [
      2,
      "ForInStatement",
      "LabeledStatement",
      "WithStatement"
    ],
    "no-param-reassign": [
      2,
      {
        "props": false
      }
    ],
    "no-unused-expressions": 0,
    "import/prefer-default-export": 0,
    "import": 0,
    "import/no-unresolved": 0,
    "func-names": 0,
    "space-before-function-paren": 0,
    "comma-dangle": 0,
    "max-len": 0,
    "import/extensions": 0,
    "no-underscore-dangle": 0,
    "consistent-return": 0,
    "no-shadow": [
      1,
      {
        "hoist": "all",
        "allow": ["resolve", "reject", "done", "next", "err", "error"]
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 80,
        "tabWidth": 2,
        "jsxSingleQuote": true,
        "semi": false,
        "eslintIntegration": true,
        "jsxBracketSameLine": true,
        "bracketSpacing": false,
        "proseWrap": "always",
        "arrowParens": "always"
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-props-no-spreading": 0,
    "react/prop-types": 0,
    "react/no-unused-state": 1,
    "react/display-name": 1,
    "react/no-array-index-key": 0,
    "react/react-in-jsx-scope": 0,
    "react/prefer-stateless-function": 0,
    "react/forbid-prop-types": 0,
    "react/no-unescaped-entities": 0,
    "react/require-default-props": 0,
    "jsx-a11y/accessible-emoji": 0,
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": [
      "warn",
      {
        "aspects": ["invalidHref"]
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-inferrable-types": [
      "warn",
      {
        "ignoreParameters": true
      }
    ],
    "@typescript-eslint/no-unused-expressions": [
      2,
      {
        "allowTaggedTemplates": true
      }
    ],
    "@typescript-eslint/quotes": [
      2,
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "@typescript-eslint/no-unused-vars": [
      1,
      {
        "ignoreRestSiblings": true,
        "argsIgnorePattern": "res|next|^err"
      }
    ],
    "@typescript-eslint/return-await": "off",
    "@typescript-eslint/semi": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/member-delimiter-style": "off"
  },
  "plugins": ["prettier", "@typescript-eslint", "react-hooks"]
}
