apiVersion: v1
kind: Secret
metadata:
  name: awm-mail-secret
type: Opaque
data:
  HOST:
  HOST_EMAIL:
  MAIL_USER_NAME:
  MAIL_USER_PASSWORD:
  MAIL_ADDRESS:
  MAIL_PORT:
  SECRET_KEY:
  JWT_ALGORITHM:
